<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Teko:wght@400;700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <script>
        $(document).ready(function(){
            $('.slider').bxSlider({
                auto:true,
                pause:8000,
                touchEnabled: false

            });
        });
    </script>

    <title>Academia HardCore</title>
</head>


<body>

<header class="header">

    <div class="container">

        <div class="logo">
            <img th:src="@{/images/logo.svg}" alt="logo">
        </div>

        <div class="btn-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <nav class="menu">
            <a href="#">Início</a>
            <a href="#planos">Planos</a>
            <a href="/clientes/formulario">Cadastrar</a>
        </nav>
    </div>

</header>>
<!--fim do header-->


<div class="slider">
    <div class="hero-section bg-1">

        <div class="container">
            <h1>Bem vindo a HardCore !</h1>

            <p>Na Hardcore, não somos apenas uma academia, somos o ponto de partida para a sua transformação. Estamos aqui para impulsionar sua jornada fitness e celebrar cada passo em direção à versão mais forte de você mesmo. Bem-vindo à Hardcore!</p>

            <a href="#nossa-academia">Saiba mais</a>
        </div>

    </div>
    <!--fim da hero-->


    <div class="hero-section bg-2">

        <div class="container">
            <h1>Novo sistema de matricula!</h1>

            <p>Estamos entusiasmados em apresentar a você o nosso revolucionário sistema de matrícula, projetado para tornar o processo mais fácil, rápido e personalizado. Com esta inovação, matricular-se na nossa academia nunca foi tão simples.</p>

            <a href="/clientes/formulario">Matricule-se já</a>
        </div>

    </div>
</div>

<div class="container nossa-academia" id="nossa-academia">

    <div class="imagem-aluno">
        <img th:src="@{images/aluno.jpg}" alt="aluno">
    </div>

    <div class="textos">
        <h2>Nossa Academia</h2>

        <p>Na nossa academia, não estamos apenas comprometidos com o condicionamento físico; estamos comprometidos com a transformação completa. Aqui, cada detalhe foi cuidadosamente planejado para proporcionar uma experiência única e motivadora. Descubra o que torna a Academia Hardcore o lugar perfeito para alcançar seus objetivos de saúde e bem-estar.
        </p>

        <p>
            Não importa onde você esteja em sua jornada fitness, na Academia Hardcore, há um lugar para você. Venha nos visitar para uma aula experimental gratuita e descubra como podemos ajudá-lo a alcançar a melhor versão de si mesmo.
        </p>

    </div>

</div>
<!--fim do nossa academia -->


<div class="faca-parte">

    <div class="container">

        <div class="conteudo-faca-parte">
            <h2>Faça parte do time</h2>

            <p>O primeiro passo é seu! Junte-se a nós e faça parte de uma comunidade que valoriza o comprometimento, a superação e a saúde. Preencha o formulário de inscrição agora e dê o pontapé inicial na sua jornada para um corpo mais forte e uma mente mais resiliente.
            </p>
        </div>

        <div class="atleta-img">
            <img th:src="@{images/atleta.png}" alt="atleta">

        </div>

    </div>
</div>
<!--fim do faça parte-->


<section class="planos" id="planos">
    <div class="container">

        <h2>Nossos Planos</h2>
        <p>Não espere mais! Escolha seu plano e faça parte de uma comunidade dedicada ao sucesso fitness e ao bem-estar duradouro. Seu corpo, sua mente, sua jornada. Vamos juntos!
        </p>

        <div class="flex-card">

            <article class="card-plano">
                <h3 class="silver">Plano Silver</h3>
                <p>Plano que oferece as modalidades básicas da Hardcore</p>
                <span class="preco">R$70,00</span>
                <ul>
                    <li>Musculação</li>
                    <li>Aula de Zumba </li>
                    <li>Aeróbico </li>
                </ul>
                <a href="/clientes/formulario" class="btn btn-outline btn-block">Assine agora</a>
            </article>

            <article class="card-plano destaque">
                <h3 class="gold">Plano Gold</h3>
                <p>Plano que oferece as modalidades básicas da Hardcore e uma aula dinâmica de boxe </p>
                <span class="preco">R$100,00</span>
                <ul>
                    <li>Musculação</li>
                    <li>Aula de Zumba</li>
                    <li>Aeróbica</li>
                    <li>Boxe</li>
                </ul>
                <a href="/clientes/formulario" class="btn btn-fill btn-block">Assine agora</a>
            </article>


            <article class="card-plano">
                <h3 class="plat">Plano Platinum</h3>
                <p>Esse plano entrega todos os serviços que a Academia Hardcore pode oferecer</p>
                <span class="preco">R$130,00</span>
                <ul>
                    <li>Musculação</li>
                    <li>Aula de Zumba</li>
                    <li>Aeróbica</li>
                    <li>Boxe</li>
                    <li>Crossfit</li>
                </ul>
                <a href="/clientes/formulario" class="btn btn-outline btn-block">Assine agora</a>
            </article>

        </div>
    </div>
</section>
<!--fim da div planos-->


<div class="container fale-conosco" id="fale">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.159647416229!2d-43.17867878540058!3d-22.907481643653952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x997f606640bb73%3A0x1ef710745c1fc7cc!2sAv.%20Rio%20Branco%2C%20185%20-%20Centro%2C%20Rio%20de%20Janeiro%20-%20RJ%2C%2020040-007!5e0!3m2!1spt-BR!2sbr!4v1674831355206!5m2!1spt-BR!2sbr" width="558" height="460" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</div>
<!--fim do fale conosco-->

<footer class="footer rodape">

    <div class="container">

        <div class="texto">
            <h3>Informações da Empresa</h3>
            <p>Academia Hardcore</p>
            <p>Email: contato@hardcore.com</p>
            <p>Contato: (11) 1234-5678</p>
            <p>CNPJ: 51.299.857/0001-95</p>
        </div>

        <div class="texto">
            <h3>Horário de Atendimento</h3>
            <p>Segunda a sábado</p>
            <p>Das 8:00 às 18:00</p>
        </div>

        <div class="texto">
            <h3>Mídias Sociais</h3>
            <div class="midias">
                <a href="https://twitter.com/" target="_blank"><img th:src="@{images/twitter.svg}" alt="twitter"></a> <!--target blank e para abrir uma nova aba-->
                <a href="https://facebook.com/" target="_blank"><img th:src="@{images/facebook.svg}" alt="Facebook"></a>
                <a href="https://youtube.com/" target="_blank"><img th:src="@{images/youtube.svg}" alt="Youtube"></a>
            </div>
        </div>

    </div>

</footer>
<!--fim do footer-->

<script src="js/script.js"></script>


</body>
</html>
